<div class="hero-unit">
    <h1>Hello World</h1>

    <p>Examples of how to use Twitter Bootstrap with Rails</p>

    <p>
        <a class="btn btn-primary btn-large">
            Learn more
        </a>
    </p>
</div>