<div class="hero-unit">
  <h1>Hello World</h1>

  <p>Examples of how to use Twitter Bootstrap with Rails</p>

  <p>
    <%= link_to "Learn More about Twitter Bootstrap", "http://twitter.github.com/bootstrap/", :class => 'btn btn-primary btn-large'%>
  </p>
</div>