<article class="container">
  <header class="hero-unit">
    <i class="logo"></i>

    <div style="clear: both;"></div>
    <p class="intro">
      LocalSocial enables retailers to connect with customers nearby using mobile marketing on their phones.
    </p>
    <p><%= link_to "Sign up for a free trial", new_registration_path(User), :class => "btn btn-success btn-large"%><br/></p>
  </header>

  <section class="row features">
    <h2>Deeper customer insight & enhanced spend</h2>
    <p class="intro">Offers . Points . Rewards</p>

    <div class="span6">
      <i class="offers"></i>
      <h3>Smart Offers</h3>
      <p>Create mobile offers that only unlock in-store</p>
    </div>

    <div class="span6">
      <i class="points"></i>
      <h3>Walk in Points</h3>
      <p>Lets customers earn points simply by walking into a premises</P>
    </div>

    <div class="span6">
      <i class="analytics"></i>
      <h3>Real time Analytics</h3>
      <p>Analytics enables measurement of top customers, offers and locations</p>
    </div>

    <div class="span6">
      <i class="loyalty"></i>
      <h3>Store Loyalty <span class="label label-warning">Coming soon</span></h3>
      <p>Your LocalSocial loyalty cards in one easy place.</p>
    </div>

  </section>

  <hr>

</article> <!-- /container -->